## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bethel,US,2021-04-18 15:50:01,41.3712,-73.4140,57.99,47,20,9.22,few clouds
1,1,Vila Velha,BR,2021-04-18 15:50:02,-20.3297,-40.2925,86.00,54,20,12.66,few clouds
2,2,Lanxi,CN,2021-04-18 15:50:02,29.2195,119.4770,59.61,72,100,3.58,overcast clouds
3,3,West Lafayette,US,2021-04-18 15:46:58,40.4259,-86.9081,57.99,41,1,1.81,clear sky
4,4,Butaritari,KI,2021-04-18 15:50:03,3.0707,172.7902,82.31,77,93,12.33,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 120

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vila Velha,BR,2021-04-18 15:50:02,-20.3297,-40.2925,86.00,54,20,12.66,few clouds
4,4,Butaritari,KI,2021-04-18 15:50:03,3.0707,172.7902,82.31,77,93,12.33,overcast clouds
6,6,Kankon,IN,2021-04-18 15:50:04,15.0167,74.0167,86.00,74,40,5.75,scattered clouds
8,8,Nouadhibou,MR,2021-04-18 15:50:05,20.9310,-17.0347,78.80,53,28,17.27,scattered clouds
9,9,Poum,NC,2021-04-18 15:50:05,-20.2333,164.0167,77.09,77,51,7.47,broken clouds
11,11,Kruisfontein,ZA,2021-04-18 15:50:06,-34.0033,24.7314,75.00,36,0,1.01,clear sky
13,13,Atuona,PF,2021-04-18 15:50:06,-9.8000,-139.0333,80.29,73,95,16.89,light rain
14,14,Puerto Escondido,MX,2021-04-18 15:50:06,15.8500,-97.0667,82.40,89,1,4.61,clear sky
16,16,Oussouye,SN,2021-04-18 15:50:07,12.4850,-16.5469,104.00,54,0,9.22,clear sky
17,17,Nanakuli,US,2021-04-18 15:50:07,21.3906,-158.1547,68.00,77,1,4.61,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                348
City                   348
Country                343
Date                   348
Lat                    348
Lng                    348
Max Temp               348
Humidity               348
Cloudiness             348
Wind Speed             348
Current Description    348
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
print (preferred_cities_df)

     City_ID        City Country                 Date      Lat       Lng  \
1          1  Vila Velha      BR  2021-04-18 15:50:02 -20.3297  -40.2925
4          4  Butaritari      KI  2021-04-18 15:50:03   3.0707  172.7902
6          6      Kankon      IN  2021-04-18 15:50:04  15.0167   74.0167
8          8  Nouadhibou      MR  2021-04-18 15:50:05  20.9310  -17.0347
9          9        Poum      NC  2021-04-18 15:50:05 -20.2333  164.0167
..       ...         ...     ...                  ...      ...       ...
674      674       Mweka      CD  2021-04-18 15:53:21  -4.8500   21.5667
676      676      Lumeje      AO  2021-04-18 15:53:21 -11.5500   20.7833
677      677        Buin      CL  2021-04-18 15:53:21 -33.7333  -70.7500
680      680      Papara      BR  2021-04-18 15:53:23  -3.9839  -38.7273
681      681        Atar      MR  2021-04-18 15:53:23  20.5169  -13.0499

     Max Temp  Humidity  Cloudiness  Wind Speed Current Description
1       86.00        54          20       12.66          few clouds
4       82.31        77          93       12.33     overcast clouds
6       86.00        74          40        5.75    scattered clouds
8       78.80        53          28       17.27    scattered clouds
9       77.09        77          51        7.47       broken clouds
..        ...       ...         ...         ...                 ...
674     79.68        71          99        1.61     overcast clouds
676     74.52        58          97        4.21     overcast clouds
677     71.01        82          40        3.44                haze
680     84.20        74          75       16.11       broken clouds
681     93.20        12           0        9.22           clear sky

[343 rows x 11 columns]

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vila Velha,BR,86.00,few clouds,-20.3297,-40.2925,
4,Butaritari,KI,82.31,overcast clouds,3.0707,172.7902,
6,Kankon,IN,86.00,scattered clouds,15.0167,74.0167,
8,Nouadhibou,MR,78.80,scattered clouds,20.9310,-17.0347,
9,Poum,NC,77.09,broken clouds,-20.2333,164.0167,
11,Kruisfontein,ZA,75.00,clear sky,-34.0033,24.7314,
13,Atuona,PF,80.29,light rain,-9.8000,-139.0333,
14,Puerto Escondido,MX,82.40,clear sky,15.8500,-97.0667,
16,Oussouye,SN,104.00,clear sky,12.4850,-16.5469,
17,Nanakuli,US,68.00,clear sky,21.3906,-158.1547,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    
}
# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
# 6d. Set up the base URL for the Google Directions API to get JSON data. 
   
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #6e Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
         
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vila Velha,BR,86.00,few clouds,-20.3297,-40.2925,Quality Suites Vila Velha
4,Butaritari,KI,82.31,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
6,Kankon,IN,86.00,scattered clouds,15.0167,74.0167,Palolem Beach Resort
8,Nouadhibou,MR,78.80,scattered clouds,20.9310,-17.0347,El Medina
9,Poum,NC,77.09,broken clouds,-20.2333,164.0167,Gîte kajeon
...,...,...,...,...,...,...,...
674,Mweka,CD,79.68,overcast clouds,-4.8500,21.5667,
676,Lumeje,AO,74.52,overcast clouds,-11.5500,20.7833,
677,Buin,CL,71.01,haze,-33.7333,-70.7500,Paihuen
680,Papara,BR,84.20,broken clouds,-3.9839,-38.7273,Romin
681,Atar,MR,93.20,clear sky,20.5169,-13.0499,Oumou Elghoura

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Descriptio</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure.
fig

Figure(layout=FigureLayout(height='420px'))